@model HomeVM
@{
    ViewData["Title"] = "Index";
}

<main>
    <section id="the-town-background">
        <div class="background-img">
            <img src="~/assets/images/@Model.TheTownBackground.Image" alt="" />
        </div>
        <div class="background-img-text">
            <span>@Model.TheTownBackground.Title</span>
            <h4>
                @Html.Raw(Model.TheTownBackground.SubTitle);
            </h4>
            <div class="background-btn">
                <button><i class="fa-solid fa-angle-down"></i></button>
            </div>
        </div>
    </section>
    <section id="introduction">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div class="introduction-img">
                        <img src="~/assets/images/@Model.Introduction.Image" alt="" />
                    </div>
                </div>
                <div class="col-6 introduction-text">
                    <span>@Model.Introduction.Title</span>
                    <p class="first-text">
                        @Html.Raw(Model.Introduction.FirstDesc)
                    </p>
                    <p class="second-text">
                        @Model.Introduction.SecondDesc
                    </p>
                    <div class="introduction-btn">
                        <button type="button">Read More</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="transportation">
        <div class="container">
            <div class="row">
                @foreach (var item in Model.transportation)
                {
                    <div class="col-4">

                        <div class="transportation-icon">
                            @Html.Raw(item.IconUrl)
                        </div>
                        <div class="title-transpolation">
                            <span>
                                @item.Title
                            </span>
                        </div>
                        <p>
                            @item.Desc
                        </p>
                    </div>
                }
            </div>
        </div>
    </section>
    <section id="work">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="title">
                        <span>@Model.WorkTitle.Title</span>
                    </div>
                    <div class="subtitle">
                        <p>
                            @Html.Raw(Model.WorkTitle.Desc)
                        </p>
                    </div>
                </div>
            </div>
            <div class="row work-slider">
                <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        @for (int i = 0; i < Model.workSliders.Count(); i++)
                        {
                            if (i == 0)
                            {
                                <div class="carousel-item active" data-bs-interval="10000">
                                    <img src="~/assets/images/@Model.workSliders.ElementAt(i).ImageUrl" class="d-block w-100" alt="...">
                                </div>

                            }
                            else
                            {
                                <div class="carousel-item" data-bs-interval="2000">
                                    <img src="~/assets/images/@Model.workSliders.ElementAt(i).ImageUrl" class="d-block w-100" alt="...">
                                </div>

                            }
                        }
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </section>
    <section id="contact">
        <div class="contact-image">
            <div class="container">
                <div class="contact-text">
                    <span>@Model.Contact.Title</span>
                    <div class="first-line"></div>
                    <div class="second-line"></div>
                    <p>@Model.Contact.Desc</p>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-6 phone">
                        <a href="">
                            @Html.Raw(Model.Contact.FirstIconUrl)
                            <span>@Model.Contact.FirstIconText</span>
                        </a>
                    </div>
                    <div class="col-6 mail">
                        <a href="">
                            @Html.Raw(Model.Contact.SecondIconUrl)
                            <span>@Model.Contact.SecondIconText</span>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 location">
                        <a href="">
                            @Html.Raw(Model.Contact.ThridIconUrl)
                            <span>@Model.Contact.ThridIconText</span>
                        </a>
                    </div>
                    <div class="col-6 send-message">
                        <form action="">
                            <input type="email" placeholder="Subscribe Your Email">
                            <button type="submit">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

